@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "poppins", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #e73626;
  position: fixed;
  top: 0;
}

.navbar-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 70%;
  min-width: 70%;
}

.navbar-title {
  color: white;
}

nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding-bottom: 32px;
}

.home-container {
  width: 100vw;
  height: 100vh;
  background-color: #e73626;
}

.home {
  max-width: 70%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.home-image {
  width: 50%;
}

.text-home {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 24px;
}

.article-container {
  padding-top: 48px;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.article-row {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}

.reverse {
  flex-direction: row-reverse;
}

.text-article {
  align-items: center;
  flex-basis: 75%;
}

.left {
  margin-right: 50px;
  text-align: left;
}

.right {
  margin-left: 50px;
  text-align: right;
}

.ilustration-image {
  width: 40%;
}

aside {
  width: 100%;
  padding-top: 48px;
}

#about {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title-about {
  color: #e73626;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  width: 70%;
  align-items: center;
}

.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.profile section {
  margin-left: 32px;
}

footer {
  padding: 20px;
  color: white;
  background-color: #e73626;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .navbar-container {
    max-width: 90%;
    min-width: 90%;
  }
  .home {
    max-width: 90%;
    display: flex;
    flex-direction: column;
  }
  .text-home {
    text-align: center;
    margin: 0;
  }
  .article-container {
    max-width: 90%;
    padding-top: 56px;
  }
  .article-row{
    flex-direction: column;
    align-items: center;
  }
  .text-article{
    text-align: center;
    margin: 0px;
  }
  .ilustration-image {
    width: 50%;
  }
  .card {
    max-width: 50%;
    min-width: 300px;
    flex-direction: column;
    text-align: center;
  }
  .profile img {
    width: 150px;
    height: 150px;
  }
  .profile section {
    width: 100%;
    margin: 0;
  }
}